body {
    margin: 0;
    overflow-x: hidden;
    user-select: none;

}

.container {
    height: 100%;
    width: 100%;
    padding: 0px;
    overflow-x: hidden;
    text-align: center;
}


#background {
    height: 100%;
    width: 100%;
    background-image: url(../Media/Background_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;
    animation: animatedbackground 6s infinite;
    -moz-animation: animatedbackground 6s infinite;
    /* Firefox */
    -webkit-animation: animatedbackground 6s infinite;
    /* Safari and Chrome */
    -o-animation: animatedbackground 6s infinite;
    /* Opera */
}

@keyframes animatedbackground {
    0% {
        background-image: url(../Media/Background_1.jpg);
    }

    30% {
        background-image: url(../Media/Background_1.jpg);
    }

    48% {
        background-image: url(../Media/Background_2.jpg);
    }

    50% {
        background-image: url(../Media/Background_3.jpg);
    }

    62% {
        background-image: url(../Media/Background_2.jpg);
    }

    70% {
        background-image: url(../Media/Background_1.jpg);
    }

    100% {
        background-image: url(../Media/Background_1.jpg);
    }

}

@-moz-keyframes animatedbackground {
    0% {
        background-image: url(../Media/Background_1.jpg);
    }

    30% {
        background-image: url(../Media/Background_1.jpg);
    }

    48% {
        background-image: url(../Media/Background_2.jpg);
    }

    50% {
        background-image: url(../Media/Background_3.jpg);
    }

    62% {
        background-image: url(../Media/Background_2.jpg);
    }

    70% {
        background-image: url(../Media/Background_1.jpg);
    }

    100% {
        background-image: url(../Media/Background_1.jpg);
    }

}

@-webkit-keyframes animatedbackground {
    0% {
        background-image: url(../Media/Background_1.jpg);
    }

    30% {
        background-image: url(../Media/Background_1.jpg);
    }

    48% {
        background-image: url(../Media/Background_2.jpg);
    }

    50% {
        background-image: url(../Media/Background_3.jpg);
    }

    62% {
        background-image: url(../Media/Background_2.jpg);
    }

    70% {
        background-image: url(../Media/Background_1.jpg);
    }

    100% {
        background-image: url(../Media/Background_1.jpg);
    }

}

@-o-keyframes animatedbackground {
    0% {
        background-image: url(../Media/Background_1.jpg);
    }

    30% {
        background-image: url(../Media/Background_1.jpg);
    }

    48% {
        background-image: url(../Media/Background_2.jpg);
    }

    50% {
        background-image: url(../Media/Background_3.jpg);
    }

    62% {
        background-image: url(../Media/Background_2.jpg);
    }

    70% {
        background-image: url(../Media/Background_1.jpg);
    }

    100% {
        background-image: url(../Media/Background_1.jpg);
    }

}


.float {
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;


}

.float p {
    padding-left: 120PX;
    padding-right: 120PX;
    padding-bottom: 40px;
    font-family: 'Mukta', sans-serif;


}

#center {
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100%;
    height: auto;



}

#title {

    height: 100%;
    width: 100%;


}


#titleshape {

    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;

    animation: animatedtitleshape 5s;
    -moz-animation: animatedtitleshape 5s;
    /* Firefox */
    -webkit-animation: animatedtitleshape 5s;
    /* Safari and Chrome */
    -o-animation: animatedtitleshape 5s;
    /* Opera */


}

@keyframes animatedtitleshape {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }

}

@-moz-keyframes animatedtitleshape {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }

}

@-webkit-keyframes animatedtitleshape {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }

}


@-o-keyframes animatedtitleshape {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }

}

#titletext {

    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    animation: animatedtitletext 3s;
    -moz-animation: animatedtitletext 3s;
    /* Firefox */
    -webkit-animation: animatedtitletext 3s;
    /* Safari and Chrome */
    -o-animation: animatedtitletext 3s;
    /* Opera */

}

@keyframes animatedtitletext {
    0% {
        top: -200px;
        opacity: 0%;
    }

    100% {
        top: 0px;
        opacity: 100%;
    }

}

@-moz-keyframes animatedtitletext {
    0% {
        top: -200px;
        opacity: 0%;
    }

    100% {
        top: 0px;
        opacity: 100%;
    }

}

@-webkit-keyframes animatedtitletext {
    0% {
        top: -200px;
        opacity: 0%;
    }

    100% {
        top: 0px;
        opacity: 100%;
    }

}


@-o-keyframes animatedtitletext {
    0% {
        top: -200px;
        opacity: 0%;
    }

    100% {
        top: 0px;
        opacity: 100%;
    }

}

.leftcontent {
    float: left;
    padding-left: 150px;


}

.leftcontent h1 {
    font-family: 'Yeon Sung', cursive;
    font-weight: bold;
    width: 20%;
    height: auto;

}

.leftcontent p {

    font-family: 'Mukta', sans-serif;

    width: 20%;
    height: auto;

}

.leftconten2 {
    float: left;
    padding-left: 150px;
    height: 50px;
    width: auto;

}